body {
    background-color: #ffffb0;
    font-family: sans-serif;
}

header {
    border-bottom-style: dashed;
}

.embed {
    border-left-style: solid;
    border-left-width: 0.5em;
    padding-left: 1em;
}

.embed-fields dt {
    font-weight: bold;
}

.embed-footer {
    font-style: italic;
}

.embed-thumbnail {
    float: right;
    height: 4em; /* roughly imitate Discord's thumbnail size */
}

.monowrap {
    font-family: monospace;
}

.tabular-number {
    font-family: monospace;
    text-align: right;
}
