<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>turkbot web :: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ base }}/static/turkbot.css" />
    </head>
    <body>
        <header>
            {% if auth %}
                You are logged in as
                <code>{{ user.username }}#{{ user.discriminator }}</code>.
                <a href="{{ base }}/logout">Logout</a>
            {% else %}
                <a href="{{ base }}/login">Login</a> to access your servers.
                This will save a cookie in your browser.
            {% endif %}
        </header>
        {% filter emojize %}
            {% filter urlize %}
                {% block content %}{% endblock %}
            {% endfilter %}
        {% endfilter %}
    </body>
</html>