{% extends 'base.html' %}
{% block title %}dataexport{% endblock %}
{% block content %}
    <h1>Exported Data</h1>
    <p>Your exported data is shown below.</p>
    <p class="monowrap">{{ get_data(bot, bot.database.cursor(), user.id) }}</p>
{% endblock %}
