{% extends 'base.html' %}
{% block title %}stats{% endblock %}
{% block content %}
    <div class="embed"
        {% if embed.color is integer %}
            style="border-color: {{ '#{:06x}'.format(embed.colour) }};"
        {% else %}
            style="border-color: {{ '#{:06x}'.format(embed.colour.value) }};"
        {% endif %}
    >
        {% if embed.thumbnail %}
            <img class="embed-thumbnail" src="{{ embed.thumbnail.url }}" />
        {% endif %}
        {% if embed.title %}
            <h1>
                {% if embed.url %}<a href="{{ embed.url }}">{% endif %}
                {{ embed.title }}
                {% if embed.url %}</a>{% endif %}
            </h1>
        {% endif %}
        {% if embed.provider %}
            <h2>
                <a href="{{ embed.provider.url }}">
                    {{ embed.provider.name }}
                </a>
            </h2>
        {% endif %}
        {% if embed.image %}
            <img class="embed-image" src="{{ embed.image.url }}" />
        {% endif %}
        {% if embed.video %}
            <video
                height="{{ embed.video.height }}"
                width="{{ embed.video.width }}"
                controls="controls"
            >
                <source src="{{ embed.video.url }}" />
            </video>
        {% endif %}
        {% if embed.description %}
            <p>{{ embed.description }}</p>
        {% endif %}
        {% if embed.fields %}
            <dl class="embed-fields">
                {% for field in embed.fields %}
                    <dt>{{ field.name }}</dt>
                    {# Space needed to prevent issues with urlize #}
                    <dd> {{ field.value }} </dd>
                {% endfor %}
            </dl>
        {% endif %}
        {% if embed.footer %}
            <p class="embed-footer">
                {% if embed.footer.icon_url %}
                    <img
                        class="embed-footer-icon"
                        src="{{ embed.footer.icon_url }}"
                    />
                {% endif %}
                {{ embed.footer.text }}
            </span>
        {% endif %}
    </div>
{% endblock %}
