{% extends 'base.html' %}
{% block title %}commands :: {{ command.names[0] }}{% endblock %}
{% block content %}
    <a href="{{ base }}/help">Go back</a>
    <hr />
    <pre>{{ command.long_help }}</pre>
{% endblock %}
