{% extends 'base.html' %}
{% block title %}commands{% endblock %}
{% block content %}
    <h1>turkbot commands</h1>
    <ul>
        {% for command in commands %}
            <li>
                <a href="{{ base }}/help/{{ command.names[0] }}">
                    {{ ', '.join(command.names) }}</a>:
                {{ command.short_help }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
