{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block content %}
    <h1>Welcome to turkbot web</h1>
    <p>The bot is currently logged in as <code>{{ bot.user }}</code>.</p>
    <h2>Guest Functions</h2>
    <ul>
        <li><a href="{{ base }}/help">Browse command help</a></li>
        <li><a href="{{ base }}/stats">View bot stats</a></li>
    </ul>
    {% if auth %}
        <h2>User Functions</h2>
        <ul>
            <li><a href="{{ base }}/dataexport">Export data</a></li>
        </ul>
    {% endif %}
    {% if debug %}
        <h2>Debug Tools</h2>
        <ul>
            <li><a href="{{ base }}/memory">Memory usage breakdown</a></li>
        </ul>
    {% endif %}
{% endblock %}
