{% extends 'base.html' %}
{% block title %}memory{% endblock %}
{% block content %}
    <h1>Memory Usage</h1>
    <p>There are {{ len(data) }} types.</p>
    <table>
        <tr>
            <th>Type</th>
            <th>Sum</th>
            <th>Count</th>
        </tr>
        {% for type_, sizes in data.items() %}
            <tr>
                <td>{{ repr(type_) }}</td>
                <td class="tabular-number">{{ sizes | sum }}</td>
                <td class="tabular-number">{{ len(sizes) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}